:root {
  /* Dracula Colors */
  --bg-color: #282A36;
  --cl-color: #44475A;
  --fg-color: #F8F8F2;
  --com-color: #6272A4;
  --cyan: #8BE9FD;
  --green: #50FA7B;
  --orange: #FFB86C;
  --pink: #FF79C6;
  --purple: #BD93F9;
  --red: #FF5555;
  --yellow: #F1FA8C;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
}

input, button {
  background-color: var(--cl-color);
  color: var(--fg-color);
  border: 1px solid var(--fg-color);
  border-radius: 4px;
}

button:hover {
  color: var(--red);
  border: 1px solid var(--red);
}

main {
  background-color: var(--cl-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vh 2vh;
  border-radius: 2vh;
}

.row {
  display: flex;
}

.square {
  background-color: white;
  min-height: 50px;
  min-width: 50px;
}

footer {
  color: var(--com-color)
}